@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");

.medallion_canvas_font {
  font-family: "Red Hat Display", sans-serif;
}

/* navbar */
.btn-sign {
  background: #f2c746;
  border-radius: 10px;
}
.btn-sign:hover {
  background: #f2c746;
}
.princess-background {
  background: #0054a0;
}

/* marketplace section */
.medallion-background {
  background: #f4f4f4;
}
.market-font {
  /* font-family: Baloo Tammudu; */
}
.marketplace-section {
  background: linear-gradient(to bottom, #4e48cf 6.93%, #1d4fb2 52.34%);
}

.market-background {
  width: 100%;
  /* background-image: url(../images/Group165.png);
  background-repeat: no-repeat;
  background-size: cover; */
}
.market-section-color {
  background: linear-gradient(to bottom, #4e48cf 6.93%, #0167d6 52.34%);
}
.scroll {
  height: 450px;
  overflow: auto;
}
.create-card {
  width: 100%;
}
.admin-dashboard-card {
  width: 30%;
}

.container {
  justify-content: space-between;
}
.banner-middle {
  top: -15rem;
}
.bg-1 {
  height: 30rem;
}
.bg-2 {
  width: 180px;
  height: 200px;
}
.bg-3 {
  left: 60rem;
  width: 150px;
  height: 110px;
}

/* features section */
.btn-features {
  width: 100%;
  background: #f4b3ff;
}
.btn-features:hover {
  box-shadow: 0px 2px 25px #f4b2ff;
  color: #fff;
}
.buy-card {
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  color: #000;
}
.admin-card {
  background: #fff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
  color: #000;
}

/* footer section */
/* 
.footer-section {
  background-color: #0054a0;
  color: #fff;
} */

@media (min-width: 0px) {
  .footer-logo1 {
    width: 80.35px;
    height: 40.85px;
  }
  .footer-logo2 {
    width: 110.95px;
    height: 40.06px;
  }
  .footer-logo3 {
    width: 140.66px;
    height: 20.62px;
  }
}

@media (min-width: 640px) {
  .footer-logo1 {
    width: 80.35px;
    height: 40.85px;
  }
  .footer-logo2 {
    width: 110.95px;
    height: 40.06px;
  }
  .footer-logo3 {
    width: 140.66px;
    height: 20.62px;
  }
}
@media (min-width: 768px) {
  .footer-logo1 {
    width: 100.35px;
    height: 48.85px;
  }
  .footer-logo2 {
    width: 125.95px;
    height: 45.06px;
  }
  .footer-logo3 {
    width: 150.66px;
    height: 25.62px;
  }
}
@media (min-width: 1024px) {
  .footer-logo1 {
    width: 129.35px;
    height: 69.85px;
  }
  .footer-logo2 {
    width: 168.95px;
    height: 60.06px;
  }
  .footer-logo3 {
    width: 210.66px;
    height: 37.62px;
  }
}
